# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
Module/Test.py
simulationwithpatterns/outputfiles/Evapo_Model.txt
simulationwithpatterns/outputfiles/Garden.xml
simulationwithpatterns/outputfiles/Gardenwateringstorage.txt
*.txt
WaterDemandModel/config.py
WaterDemandModel/C_Actor.py
WaterDemandModel/C_Dishwasher.py
WaterDemandModel_alt/sampling_db.py
WaterDemandModel_alt/sampleDataBin.py
WaterDemandModel_alt/sampleDiurnalPattern.py
WaterDemandModel_alt/outputAnalysis.py
WaterDemandModel_alt/C_WaterDemandModel.py
WaterDemandModel_alt/sampleLogNormDistribution.py
WaterDemandModel_alt/extractCsvData.py
WaterDemandModel_alt/desktop.ini
WaterDemandModel_alt/C_WashMachine.py
WaterDemandModel_alt/C_UnitType.py
WaterDemandModel_alt/C_Toilet.py
WaterDemandModel_alt/C_ShowerEvent.py
WaterDemandModel_alt/C_ResidentialUnit.py
WaterDemandModel_alt/C_ResidentialActor.py
WaterDemandModel_alt/C_logNormDist.py
WaterDemandModel_alt/C_Diurnal_Pattern.py
WaterDemandModel_alt/C_Dishwasher.py
WaterDemandModel_alt/C_CommercialUnit.py
WaterDemandModel_alt/C_CommercialActor.py
WaterDemandModel_alt/C_Bath.py
WaterDemandModel_alt/C_ApplianceType.py
WaterDemandModel_alt/C_Actor.py
WaterDemandModel_alt/config.py
WaterDemandModel_alt/calcAndSampleCumData.py
WaterDemandModel_alt/.dropbox
WaterDemandModel/__init__.py
WaterDemandModel/sampling_db.py
WaterDemandModel/sampling_db.py
WaterDemandModel/sampleUniformDistribution.py
WaterDemandModel/sampleNormalDistribution.py
WaterDemandModel/sampleLogNormDistribution.py
WaterDemandModel/sampleLogNormDistribution.py
WaterDemandModel/sampleLogNormDistribution.py
WaterDemandModel/sampling_db.py
WaterDemandModel/sampleLogNormDistribution.py
WaterDemandModel/sampleDiurnalPattern.py
WaterDemandModel/sampleDataBin.py
WaterDemandModel/sampleCumData.py
WaterDemandModel/productDistributionGenerator.py
WaterDemandModel/Pollution_concentration_distributions_check.py
WaterDemandModel/sampling_db.py
